.AdminNav-Container{
    border: none;
    height: 80px;
    width: 100%;
    background-color: #005abb;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.AdminNav-Container .Admin-Name{
    /* border: 2px solid black; */
    /* margin-left: 10px; */
    /* display: flex;
    align-items: center;
    justify-content: center; */

    p{
        color: white;
        font-size: 25px;
    }

}


.AdminNav-Container .Admin-Tabs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.Admin-Tabs a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

.Admin-Tabs a:hover{
    background-color: #2563eb; 
}

.Admin-Tabs a.active {
    background-color: #2563eb; /* Highlight active link */
}

.Admin-LogOut{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.Admin-LogOut a{
    font-weight: 400;
    color: white;
    text-decoration: none;
}

.Admin-LogOut a:hover{
    font-weight: 400;
    font-size: 21px;
    color: white;
    text-decoration: none;
}

