.maaz-passenger-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    padding: 8px;
    margin: 16px;
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 190px;
    justify-content: space-between;
    font-family: 'Poppins', 'Inter', sans-serif;
  }
  
  .maaz-passenger-number {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
  }
  
  .maaz-passenger-fields-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 8px;
  }
  
  .maaz-passenger-field {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .maaz-passenger-field label {
    font-size: 13px;
    margin-bottom: 4px;
    font-weight: 500;
  }
  .maaz-passenger-field.dob label, .maaz-passenger-field.email label {
    margin-top: 12px;
  }

  .maaz-passenger-field.email input{
    height: 37px;
  }
  
  .maaz-passenger-field input{
    border: none;
    border-radius: 0%;
    border-bottom: 1px solid black; /* the horizontal line */
    outline: none;
    background: transparent;
    font-size: 16px;
    padding: 8px 4px;
    width: 100%;
    transition: border-color 0.3s;
  }
  
  .maaz-passenger-field input:focus{
    border-bottom: 2px solid #007bff; /* changes line color on focus */
  }
  
  .maaz-passenger-error {
    color: red;
    font-size: 10px;
    margin-top: 4px;
  }
  