body{
    background-color: white;
    font-family: 'Trebuchet MS', sans-serif;
}

.HomeBody-container{
    border-bottom: 1px solid whitesmoke;
}


.HomeBody-container .content{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.content .section1{
    border: none;
    height: 350px;
    width: 45%;
    background-image: url('../assets/home-airplane.jpg');/* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents image repetition */
    
}

.content .section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
    height: 350px;
    width: 50%;
    font-size: 25px;
    text-align: center;
    color: black;

}

.section2 h1{
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 20px;
}

.HomeBody-container{
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.HomeBody-container .developers{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 10px;
    height: 600px;
    margin-top: 50px;
}

.developers h1{
    font-size: xxx-large;
    color: black;
}

.box-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.developer-info{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box{
    border-radius: 100px;
    height: 220px;
    width: 220px;
    margin: 15px;
    border: 5px solid rgb(13, 13, 125);
}

#box1{
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents image repetition */
}

#box2{
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents image repetition */
}

#box3{
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents image repetition */
}

.HomeFooter-container{
    margin-top: 30px;
    background-color: rgb(13, 13, 125);
    padding: 10px;
}

.HomeFooter-container .line1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 50px;
    margin-bottom: 20px;
}

.HomeFooter-container .line2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 50px;
}
